alembic==1.13.1
aniso8601==9.0.1
blinker==1.8.2
Brotli==1.1.0
cchardet==2.1.7
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
docopt==0.6.2
Flask==3.0.3
Flask-Cors==4.0.1
Flask-JWT-Extended==4.6.0
flask-marshmallow==1.2.1
Flask-Migrate==4.0.7
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
func_timeout==4.3.5
greenlet==3.0.3
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
lark-parser==0.12.0
loguru==0.7.2
lxml==5.1.1
magic_html @ https://github.com/sixgad/magic-html/releases/download/magic_html-0.1.0-released/magic_html-0.1.0-py3-none-any.whl#sha256=8c6804d80494b78fdbe7b017fcc67017725c3cf4ebf833f8affb25ebc1e9f6f4
Mako==1.3.5
MarkupSafe==2.1.5
marshmallow==3.21.2
marshmallow-sqlalchemy==1.0.0
numpy==1.26.4
packaging==24.0
py-asciimath==0.3.0
PyJWT==2.8.0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.2
six==1.16.0
SQLAlchemy==2.0.30
typing_extensions==4.11.0
urllib3
Werkzeug==3.0.3
boto3
werkzeug
python-pptx
magic_pdf @ https://github.com/magicpdf/Magic-PDF/releases/download/magic_pdf-0.5.0-released/magic_pdf-0.5.0-py3-none-any.whl
smart_open[s3]
s3pathlib
